.togglershow{ 
    top:50%;
    
}
.opfd{
    position: relative;
}
    
@media(max-width:500px){ 
    .togglershow { 
        display: none;
    }
}
@media(max-width:500px){ 
    .togglershow { 
        top:50% ; 

    }
}