.tob{ 
    color:black ; 
}


.c1{ 
    background-image: url("img/uriel-soberanes.jpg");
}

.c2{ 
    background-image: url("img/anders-jilden.jpg");
}

.c3{ 
    background-image: url("img/jan-sendereks.jpg");
}

.pointercolor{ 
    color: #52cace !important ; 
    background-color: #52cace !important;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  .ppbgf{ 
      background-image: url("./img/Photos12.png") !important;
  }

  .important{ 
      background-color: transparent;
  }

  @media(max-width:700px){ 
    .fixp{
        font-size: 15px !important ; 

    }
    .fixh3{ 
        font-size: 20px !important;
    }
    .fill{ 
        width:100% !important;
    }
}

.fill { 
    width:100% !important;
    background-color:#333;
}

.contactbacked{ 
    background-color: #333;   
}

.photo1{ 
    background-image: url("./img/Photos3.png") !important;
}
.photo2{ 
    background-image: url("./img/Photos13.png") !important;
}
.photo3{ 
    background-image: url("./img/Photos1.png") !important;
}