.tob{ 
    color:black ; 
}


.c1{ 
    background-image: url("img/uriel-soberanes.jpg");
}

.c2{ 
    background-image: url("img/anders-jilden.jpg");
}

.c3{ 
    background-image: url("img/jan-sendereks.jpg");
}

.pointercolor{ 
    color: #52cace !important ; 
    background-color: #52cace !important;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  .ppbgf{ 
      background-image: url("./img/Photos12.png") !important;
  }

  .important{ 
      background-color: transparent;
  }

  