.tob{ 
    color:black ; 
}

.bgroundpic{ 
    background-image: url("img/brownprofile.png");
}

.c1{ 
    background-image: url("img/uriel-soberanes.jpg");
}

.c2{ 
    background-image: url("img/anders-jilden.jpg");
}

.c3{ 
    background-image: url("img/jan-sendereks.jpg");
}

.pointercolor{ 
    color: #52cace !important ; 
    background-color: #52cace !important;
}

