::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    text-align: center;
    opacity: 1; /* Firefox */
    font:auto; 
  }

  .form-bord{ 
    border: 1px solid #000 !important;
  

  } 

.dasds8{ 
    text-align:center; 
} 

@media only screen and (max-width: 1200px) {
    .form-bord{ 
        border: 1px solid #ccc !important; 
    }
  }
  