.items{ 
    /* color: #000000 !important;  */
}

.fsd8a9a{ 
    white-space: nowrap !important;
    background-color: transparent !important;
}

@media (max-width: 2026px) {
    img {
        display: none;
    }
}

.imagefixerupper{
    width:100px !important;
    height:100px !important;
}


.fixnavbar{ 
    position: static!important;
    top:50% !important; 
    vertical-align: center !important;
    justify-content: center !important;
}


    